<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div th:switch="${doctors}">
        <h2 th:case="null">0 doctors</h2>
        <div th:case="*">
            <table class="table table-stripped table-responsive-md">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Specialization</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctor : ${doctors}">
                    <td th:text="${doctor.id}"></td>
                    <td th:text="${doctor.firstName}"></td>
                    <td th:text="${doctor.lastName}"></td>
                    <td th:text="${doctor.age}"></td>
                    <td th:text="${doctor.specialization.title}"></td>
                    <td>
                        <a th:href="@{/doctor/form/{id}(id=${doctor.id})}"
                           class="btn btn-primary">Edit</a>
                        <a th:href="@{/doctor/delete/{id}(id=${doctor.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/doctor/form/0}" class="btn btn-success">Add new</a>
        </div>
    </div>
</div>
</body>
</html>