<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <form action="#" th:action="@{/doctor/add}" th:object="${doctor}" method="post">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="number" th:field="*{id}" id="id" th:placeholder="${id}" th:disabled="${fieldDisabled}">
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" th:field="*{firstName}" id="firstName" th:placeholder="*{firstName}">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" th:field="*{lastName}" id="lastName" th:placeholder="*{lastName}">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" th:field="*{age}" id="age" th:placeholder="*{age}">
        </div>
        <div class="form-group">
            <label for="specialization">Specialization</label>
            <select th:field="*{specialization}" id="specialization" class="form-control">
                <option th:each="s : ${specializations}" th:value="${s.id}" th:text="${s.title}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a th:href="@{/doctor}" class="btn btn-danger">Cancel</a>
    </form>
</div>
</body>
</html>