<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <form action="#" th:action="@{/patient/add}" th:object="${patient}" method="post">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="number" th:field="*{id}" id="id" th:placeholder="${id}" th:disabled="${fieldDisabled}">
        </div>
        <div class="form-group">
            <label for="firstName">Firstname</label>
            <input type="text" th:field="*{firstName}" id="firstName" th:placeholder="*{firstName}">
        </div>
        <div class="form-group">
            <label for="lastName">Lastname</label>
            <input type="text" th:field="*{lastName}" id="lastName" th:placeholder="*{lastName}">
        </div>
        <div class="form-group">
            <label for="pesel">Pesel</label>
            <input type="text" th:field="*{pesel}" id="pesel" th:placeholder="*{pesel}">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a th:href="@{/patient}" class="btn btn-danger">Cancel</a>
    </form>
</div>
</body>
</html>