<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warehouse Spring MVC App</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />
</head>
<body>

<div class="container-fluid">
    <div class="page-title">
        <h2>We have <span th:text="${items.size()}"></span> items in our database</h2>
    </div>
    <div th:switch="${items}">
        <h2 th:case="null">No items</h2>
        <div th:case="*">
            <h2>Items</h2>
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr class="p-5">
                    <th class="p-5">Name</th>
                    <th class="p-5">Shelf</th>
                    <th class="p-5">Position</th>
                    <th class="p-5">Value</th>
                    <th class="p-5">Weight</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}" class="p-5">
                    <td th:text="${item.name}" class="p-5"></td>
                    <td th:text="${item.shelf}" class="p-5"></td>
                    <td th:text="${item.position}" class="p-5"></td>
                    <td th:text="${item.value}" class="p-5"></td>
                    <td th:text="${item.weight}" class="p-5"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/item/new" class="btn btn-primary">Add new item</a></p>
        <p><a href="/" class="btn btn-primary">Change Employee</a></p>
    </div>
</div>



</form>
</body>
