<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warehouse Spring MVC App</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />
</head>
<body>
<form action="#" th:action="@{/item/add}" th:object="${item}" method="post">
    <span class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Item name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Name Error</span>
    </div>

    <div class="form-group">
        <label for="shelf">Shelf</label>
        <input type="number" th:field="*{shelf}" id="shelf">
        <span th:if="${#fields.hasErrors('shelf')}" th:errors="*{shelf}" class="text-danger">Shelf Error</span>
    </div>

    <div class="form-group">
        <label for="position">Position</label>
        <input type="number" th:field="*{position}" id="position">
        <span th:if="${#fields.hasErrors('position')}" th:errors="*{position}" class="text-danger">Position Error</span>
    </div>

    <div class="form-group">
        <label for="value">Value</label>
        <input type="number" step="0.01" th:field="*{value}" id="value">
        <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}" class="text-danger">Value Error</span>
    </div>

    <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" th:field="*{weight}" id="weight">
        <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="text-danger">Weight Error</span>
    </div>

    <input type="submit" class="btn btn-primary" value="Add Item">
</form>

</body>
</html>
